<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>117442417954-ng7022im3r8qtp2mn6k3pqi2di4v44ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117442417954-ng7022im3r8qtp2mn6k3pqi2di4v44ji</string>
	<key>API_KEY</key>
	<string>AIzaSyDuoiYPWX2FIYQA6qK-yaXuaJUz0cdPgCY</string>
	<key>GCM_SENDER_ID</key>
	<string>117442417954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toopdev.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-1432a</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-1432a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117442417954:ios:d9cf3cbccf070363</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-1432a.firebaseio.com</string>
</dict>
</plist>